<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="logo">
          <a href="/">
            <img src="<%= asset_url('catalog/footer-logo.png') %>"  title="Food Market" alt="Food Market" class="img-responsive">
          </a>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-3">
            <div class="footer_box">
              <h5>Information</h5>
              <ul class="list-unstyled">
                <li><a href="/about_us">About Us</a></li>
                <li><a href="/delivery">Delivery</a></li>
                <li><a href="/privacy_policy">Privacy Policy</a></li>
                <li><a href="/terms_and_conditions">Terms &amp; Conditions</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="footer_box">
              <div class="footer">
                <div id="tm-newsletter" class="box newsletter">
                  <div class="box-content">
                    <h5>Newsletter </h5> <form method="post" enctype="multipart/form-data" id="tm-newsletter-form">
                      <div class="tm-login-form">
                        <label class="control-label" for="input-email"></label>
                        <input type="text" name="tm_newsletter_email" value="" placeholder="Your E-Mail here..." id="input-tm-newsletter-email" class="form-control">
                      </div>
                      <button type="submit" id="tm-newsletter-button" class="dropdown-btn">Subscribe</button>
                      <div class="clear"></div>
                      <span id="tm-newsletter_error" class="newsletter-error"></span>
                      <span id="tm-newsletter_success" class="newsletter-success"></span>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="col-sm-3">
            <div class="footer_box">
              <h5>My account</h5>
              <ul class="list-unstyled">
                <li><a href="/my_account">My account</a></li>
                <li><a href="/my_account/order">Order History</a></li>
                <li><a href="/wishlist">Wish List</a></li>
                <li><a href="/newsletter">Newsletter</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="footer_box">
              <h5>Customer service</h5>
              <ul class="list-unstyled">
                <li><a href="/contact_us">Contact Us</a></li>
                <li><a href="/my_account/return">Returns</a></li>
                <li><a href="/sitemap">Site Map</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="footer_box">
              <h5>Extras</h5>
              <ul class="list-unstyled">
                <li><a href="/brands">Brands</a></li>
                <li><a href="/my_account/voucher">Gift Vouchers</a></li>
                <li><a href="/affiliates">Affiliates</a></li>
                <li><a href="/specials">Specials</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright clearfix">
      <div class="powered">Powered By <a href="#">Phuong Tran Tuan</a><br> © 2016 </div>
      <div class="social-block"><ul class="social-list list-unstyled">
          <li>
          <a href="//www.facebook.com" data-toggle="tooltip" title="" data-original-title="Facebook">
            <i class="fa fa-facebook"></i>
          </a>
          </li>
          <li>
          <a href="//www.twitter.com" data-toggle="tooltip" title="" data-original-title="Twitter">
            <i class="fa fa-twitter"></i>
          </a>
          </li>
          <li>
          <a href="//instagram.com/" data-toggle="tooltip" title="" data-original-title="Instagram">
            <i class="fa fa-instagram"></i>
          </a>
          </li>
          <li>
          <a href="//accounts.google.com" data-toggle="tooltip" title="" data-original-title="Google Plus">
            <i class="fa fa-google-plus"></i>
          </a>
          </li>
      </ul></div>
    </div>
  </div>
</footer>
