<aside class="col-sm-3" id="column-right">
  <div class="box category">
    <div class="box-heading">
      <h3>Categories</h3>
    </div>
    <div class="box-content">
      <div class="box-category">
        <ul class="menu">
          <li class="inset">
            <a href="product/category&amp;path=25">Bread &amp; Bakery</a>
            <i class="fa fa-chevron-down"></i>
            <ul>
              <li>
                <a href="product/category&amp;path=30">Aenean</a>
              </li>
              <li class="inset">
                <a class="parent" href="product/category&amp;path=106">Cum
                sociis</a><i class="fa fa-chevron-down"></i>
                <ul>
                  <li>
                    <a href="product/category&amp;path=111">Ultricies</a>
                  </li>
                  <li>
                    <a href="product/category&amp;path=113">Vitae diam</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="product/category&amp;path=37">Drinks</a>
          </li>
          <li>
            <a href="product/category&amp;path=33">Fresh Meats</a>
          </li>
          <li>
            <a href="product/category&amp;path=18">Fresh Fish</a>
          </li>
          <li>
            <a href="product/category&amp;path=82">Fruits</a>
          </li>
          <li>
            <a href="product/category&amp;path=110">Vegetables</a>
          </li>
          <li>
            <a href="product/category&amp;path=108">Grocery</a>
          </li>
          <li>
            <a href="product/category&amp;path=112">Frozen</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="box account info">
    <div class="box-heading">
      <h3>Account</h3>
    </div>
    <div class="box-content">
      <ul>
        <li>
          <a href="account/login">Login</a>
        </li>
        <li>
          <a href="account/register">Register</a>
        </li>
        <li>
          <a href="account/forgotten">Forgotten Password</a>
        </li>
        <li>
          <a href="account/account">My Account</a>
        </li>
        <li>
          <a href="account/address">Address Books</a>
        </li>
        <li>
          <a href="account/wishlist">Wish List</a>
        </li>
        <li>
          <a href="account/order">Order History</a>
        </li>
        <li>
          <a href="account/download">Downloads</a>
        </li>
        <li>
          <a href="account/reward">Reward Points</a>
        </li>
        <li>
          <a href="account/return">Returns</a>
        </li>
        <li>
          <a href="account/transaction">Transactions</a>
        </li>
        <li>
          <a href="account/newsletter">Newsletter</a>
        </li>
        <li>
          <a href="account/recurring">Recurring payments</a>
        </li>
      </ul>
    </div>
  </div>
</aside>
