<aside class="col-sm-3" id="column-right">
  <div class="box category">
    <div class="box-heading">
      <h3>Categories</h3>
      <div class="box-content">
        <%= render 'spree/shared/taxonomies' %>
      </div>
    </div>
    <div class="box-content">
      <div class="box-category">
        <ul class="menu">
        </ul>
      </div>
    </div>
  </div>

  <div class="box specials">
    <div class="box-heading">
      <h3>Specials</h3>
    </div>
    <div class="box-content">

      <div class="clear"></div>
    </div>
  </div>
  <div class="banners row" id="banner0">
    <div class="col-sm-12 banner-6">
      <div class="banner-box">
        <a class="clearfix" href="#">
          <img alt="banner-6" class="img-responsive" src="<%= asset_path('catalog/banner-aside-270x411.png') %>">
        <div class="s-desc">
          <i class="fa fa-archive"></i><br>
          <span>Free<br>
          Delivery</span><br>
          on orders<br>
          over $99
        </div></a>
      </div>
    </div>
  </div>
</aside>
