<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <div class="product-thumb transition">
    <a class="quickview" data-original-title="Quick View" data-rel=
    "details" data-toggle="tooltip" href="#quickview_specials_3"
    title=""><i class="fa fa-eye"></i></a>
    <div class="quick_info">
      <div class="quickview-style" id="quickview_specials_3">
        <div>
          <div class="left col-sm-4">
            <div class="quickview_image image">
              <a href=
              "index.php?route=product/product&amp;product_id=29"><img alt="Aliquam dolor tellus"
              class="img-responsive" src=
              "image/cache/catalog/Royal-vegetable1-270x259.png"
              title="Aliquam dolor tellus"></a>
            </div>
          </div>
          <div class="right col-sm-8">
            <h2>Aliquam dolor tellus</h2>
            <div class="inf">
              <p class=
              "quickview_manufacture manufacture manufacture">Brand:
              <a href=
              "index.php?route=product/manufacturer/info&amp;manufacturer_id=6">
              Adipisicing</a></p>
              <p class="product_model model">Model: Product 2</p>
              <div class="price">
                <span class="price-new">$250.99</span> <span class=
                "price-old">$350.99</span>
              </div>
            </div>
            <div class="cart-button">
              <button class="btn-icon btn-default"
              data-original-title="Add to Wishlist" data-toggle=
              "tooltip" onclick="wishlist.add('29');" title="" type=
              "button"><i class="fa fa-star"></i></button>
              <button class="btn-icon btn-add" data-original-title=
              "Add to Cart" data-toggle="tooltip" onclick=
              "cart.add('29');" title="" type="button"><i class=
              "fa fa-shopping-cart"></i></button> <button class=
              "btn-icon" data-original-title="Compare" data-toggle=
              "tooltip" onclick="compare.add('29');" title="" type=
              "button"><i class="fa fa-bar-chart"></i></button>
            </div>
            <div class="clear"></div>
            <div class="rating">
              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
              <i class="fa fa-star"></i> <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="quickview_description description">
              <p><b>Many people love supermarkets</b> for the variety
              of products they can buy there. Such customers adore
              looking at the collection of different stuff and choose
              from all these things.</p>
              <p>The idea of representing <b>the supermarket on the
              web</b> naturally comes from the general concept of
              satisfying the customers’ needs. We do everything
              required to increase the navigation and usability of
              the website: all visitors will get an enjoyable
              experience of checking the assortment. A beautiful
              design with high-resolution illustrations and stylish
              typography immediately demonstrate the theme of the
              website while outlining all the benefits of using our
              supermarket.</p>
              <p>Don’t miss your chance to stay in contact with us.
              This opportunity is given by the website, which in
              addition to professional design provides with
              responsive layouts, which change their size due to the
              screen resolution. That means you can comfortably get
              on the website from your smartphone or tablet and check
              all the necessary updates.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="image">
      <a class="lazy" href=
      "index.php?route=product/product&amp;product_id=29" style=
      "padding-bottom: 95.925925925926%"><img alt=
      "Aliquam dolor tellus" class="img-responsive" data-src=
      "image/cache/catalog/Royal-vegetable1-270x259.png" src="#"
      title="Aliquam dolor tellus"></a>
    </div>
    <div class="stickers">
      <div>
        <div class="sale">
          sale
        </div>
      </div>
    </div>
    <div class="caption">
      <div class="name aside-name">
        <a href=
        "index.php?route=product/product&amp;product_id=29">Aliquam
        dolor tellus</a>
      </div>
      <div class="price">
        <span class="price-new">$250.99</span><br>
        <span class="price-old">$350.99</span>
      </div>
      <div class="name">
        <a href=
        "index.php?route=product/product&amp;product_id=29">Aliquam
        dolor tellus</a>
      </div>
      <div class="description-small">
        Many people love supermarkets for the variety of products
        they can...
      </div>
      <div class="rating">
        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
      <div class="cart-button">
        <button class="btn-icon btn-default" data-original-title=
        "Add to Wishlist" data-toggle="tooltip" onclick=
        "wishlist.add('29');" title="" type="button"><i class=
        "fa fa-star"></i></button> <button class="btn-icon btn-add"
        data-original-title="Add to Cart" data-toggle="tooltip"
        onclick="cart.add('29');" title="" type="button"><i class=
        "fa fa-shopping-cart"></i></button> <button class="btn-icon"
        data-original-title="Compare" data-toggle="tooltip" onclick=
        "compare.add('29');" title="" type="button"><i class=
        "fa fa-bar-chart"></i></button>
      </div>
    </div>
  </div>
</div>
